<h2>Book details</h2>
<div style="padding-left: 5cm;">
<p>
  <strong>ISBN:</strong>
  <%= @book.ISBN %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>
</div>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
